<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Detalle del Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Componente hijo: Resumen -->
  <app-resumen-registro [registro]="registro"></app-resumen-registro>

  <!-- Componente hijo: Selector -->
  <app-selector-tipo (tipoCambiado)="actualizarTipo($event)"></app-selector-tipo>

  <ion-item>
    <ion-label>Tipo actual: {{ tipoActual }}</ion-label>
  </ion-item>

  <ion-button expand="block" color="primary" routerLink="/consulta" style="margin-top: 10px;">
    Ver Todos los Registros
  </ion-button>

  <ion-button expand="block" color="medium" routerLink="/home">
    Volver al Inicio
  </ion-button>
</ion-content>
